html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@charset "utf-8";

input[type='checkbox'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    background:white;
}
input[type='checkbox']:checked {
    background: #abd;
}

#navbar {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: right;
	font-size: 22px;
	background-color: #2E2E2E;
	height: 50px;
	-webkit-box-shadow: 0px 8px 10px #868686;
	box-shadow: 0px 8px 10px #868686;
	line-height: 50px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color: #FFFFFF;
}

li {
	padding-top: 12px;
	color: #FFFFFF;
	margin-left: 45px;

}
#goldTotal {
	font-size: 16px;
}

body {
	background-color: #2E2E2E;
}
header {
	color: #FFFFFF;
	text-align: center;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 24px;
}
.bannerImage {
}
#banner {
	width: 100%;
}
